*{
    padding: 0;
    margin: 0;

}

nav{
    display: flex;
    align-items: center;
    background-color: rgb(255, 253, 253);
    justify-content: space-between;
}
img{
    padding-left: 90px;
}
nav>div{
   padding-left: 30px;
   margin: 15px 0px;
}
input{
    width: 500px;
    padding-left: 20px;
    padding-top:9px ;
    padding-bottom: 9px;
}
button{
    padding: 10px 12px;
    background-color: orange;
    color: white;
    border-radius: 5px;
    border: none;
}
span{
    margin-left: 10px;
    margin-right: 20px;
    color: rgb(147, 145, 145);
}
.products-container{
    margin-top: 10px;
    background-color: rgb(225, 74, 19);
    width: 80%;
    margin: 0 auto;
}
.heading{
    display: flex;
    justify-content: space-between;
    color: white;
    padding:10px 15px;
    border-radius: 2px;
}
.products-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px 1fr)); 
    gap: 20px;
}
.pg-item>img{
    width: 170Px;
}
.product-details{
    justify-content: center;
}
.old-price{
    text-decoration: line-through;
    font-size: small;
}