*{
    padding: 0;
    margin: 0;

}

nav{
    display: flex;
    align-items: center;
    background-color: rgb(255, 253, 253);
    justify-content: space-between;
}
img{
    padding-left: 90px;
}
nav>div{
   padding-left: 30px;
   margin: 15px 0px;
}
input{
    width: 500px;
    padding-left: 20px;
    padding-top:9px ;
    padding-bottom: 9px;
}
button{
    padding: 10px 12px;
    background-color: orange;
    color: white;
    border-radius: 5px;
    border: none;
}
span{
    margin-left: 10px;
    margin-right: 20px;
    color: rgb(147, 145, 145);
}
.products-container{
    margin-top: 10px;
    background-color: rgb(17, 240, 214);
    width: 80%;
    margin: 0 auto;
    padding:20px ;
}
.heading{
    display: flex;
    justify-content: space-between;
    color: white;
   background-color:  rgb(225, 74, 19);
    padding:15px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.products-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 170px); 
    gap: 10px;
    margin-bottom: 10px;
}
.pg-item{
    background-color: blue;
    padding: 10px;
    min-width: 0;
}
.pg-item > img{
    width: 80%;
    height: auto;
    display: block;

}
.product-header{
    font-weight: bold;
    font-size: 1rem;
}
.product-heading{
    font-weight: bold;
}
.old-price{
    text-decoration: line-through;
    font-size: small;
}
.headings{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: orange;
    padding:15px 15px;
    border-top-right-radius:5px ;
    border-top-left-radius:5px ;
}
